/* Heading Stylings */
#main-header {
	padding-top: 20px;

	background-size: 100% 100%;
	background-image: url( "../img/background.jpg" );
}

#main-header .navbar ul {
	margin: 0px;
	margin-right: 30px;
	padding: 0px;

	list-style-type: none;
	overflow: hidden;
}

#main-header .navbar li {
	display:block;
	width:60px;
	float:right;

	font-family: OratorStd;
	font-size: 20px;
	font-style: normal;

    padding-right: 50px;
}

#main-header #main-header-title {
	width: 800px;
	height: 140px;

	color: #e83f42;
	text-align: center;
}

#main-header #main-header-title h1 {
	margin-top: 5px;
	margin-bottom: 0px;

	font-size: 50px;
	font-style: medium;
}

#main-header #main-header-title h2 {
	margin-top: 15px;
	margin-bottom: 0px;

	font-family: OratorStd;
	font-size: 20px;
	font-style: normal;
}
