@import url(http://fonts.googleapis.com/css?family=Dosis:300,600,500,700,800);
@font-face { font-family: OratorStd; src: url( "../font/oratorstd.ttf" ); }

/* Main Page Stylings */

body {
	margin-top: 0px;
	margin-left: 0px;
	width: 100%;

	background-color: #111f33;

	font-family: Dosis;
	font-size: 15px;
	font-weight: medium;
	font-style: normal;
	color: #ffffff;
}

a:link { color: #ffffff; text-decoration: none; }
a:visited { color: #dddddd; }
a:hover { color: #ffffff; text-decoration: underline; }
a:active { color: #ffffff; }

.logo-img { width: 200px; }
.footer-img { width: 100px; }

#comparison-sidebar {
	float: left;

	border:2px solid #ffffff;

	height: 200px;
}

#main-content {
	width: 850px;

	display: block;
	margin: auto;
}

.centered-img {
	display: block;
	margin: auto;
}

/* Input From Stylings */

/* @see http://www.cssbuttongenerator.com/ */
.main-button {
	background-color:transparent;
	-webkit-border-top-left-radius:40px;
	-moz-border-radius-topleft:40px;
	border-top-left-radius:40px;
	-webkit-border-top-right-radius:40px;
	-moz-border-radius-topright:40px;
	border-top-right-radius:40px;
	-webkit-border-bottom-right-radius:40px;
	-moz-border-radius-bottomright:40px;
	border-bottom-right-radius:40px;
	-webkit-border-bottom-left-radius:40px;
	-moz-border-radius-bottomleft:40px;
	border-bottom-left-radius:40px;

	text-indent:0;
	border:2px solid #ffffff;
	display:block;
	margin: auto;
	color:#ffffff;

	font-family: OratorStd;
	font-size: 30px;

	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 5px;

	text-decoration:none;
	text-align:center;
}

.main-button:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, .2);
}

/* Wave hover animations */

#main-header-wave:hover, #legend-wave:hover {
    cursor: pointer;

    transition-duration: 1s;
    webkit-transition-duration: 1s;

    -webkit-transform: translate(0px,10px);
    -moz-transform: translate(0px,10px);
    -o-transform: translate(0px,10px);
    -ms-transform: translate(0px,10px);
    transform: translate(0px,10px);
}

#main-content-wave:hover, #compare-wave:hover {
    cursor: pointer;

    transition-duration: 1s;
    webkit-transition-duration: 1s;

    -webkit-transform: translate(0px,-10px);
    -moz-transform: translate(0px,-10px);
    -o-transform: translate(0px,-10px);
    -ms-transform: translate(0px,-10px);
    transform: translate(0px,-10px);
}

