@import url(http://fonts.googleapis.com/css?family=Signika:400,600,700,300);

body {
    width: 1400px;
    margin: 0 auto;
    background-color: #111f33;
}

.header {
    margin-left: 200px;
    width: 910px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    font-family: 'Signika', 'sans-serif';
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}

.header .filter {
    display: inline;
}

.filter .title {
    display: inline;
}

.filter .menu {
    display: inline;
    margin-left: 5px;
}

.header .compare {
    display: inline;
    margin-left: 220px;
    padding-left: 5px;
    padding-right: 5px;
}

.header .compare:hover {
    cursor: pointer;
    background: #C0C0C0;
    color: #fff;
}

.header .nav {
    display: inline;
    float: right;
    margin-right: 5px;
}

.nav .sub-nav {
    display: inline;
    margin-left: 20px;
}

.nav .sub-nav:hover {
    cursor: pointer;
    background: #C0C0C0;
    color: #fff;
}

.main {
    margin-left: 200px;
    margin-top: 30px;
    width: 1000px;
}

.example {
    width: 240px;
    height: 200px;
    float: left;
    display: inline;
    position: relative;
    margin: 7px;
}

.example svg {
    margin-left: 10px;
}

.player {
    width: 70px;
    height: 100px;
    float: left;
    display: inline;
    position: relative;
    margin: 7px;
}

.player:hover {
    cursor: pointer;
}

.player.average:hover {
    cursor: default;
}

.example text {
    font-family: 'Signika', 'sans-serif';
    font-weight: 400;
    font-size: 10px;
}

.name {
    text-align: center;
    font-family: 'Signika', 'sans-serif';
    font-weight: 300;
    font-size: 12px;
    color: #fff;
}

.position {
    display: table-row;
    font-family: 'Signika', 'sans-serif';
    font-weight: 400px;
    font-size: 14px;
    border-bottom: 1px dashed black;
}

.position .title {
    display: table-cell;
    vertical-align: middle;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg); 
    color: #fff;
}

.position .polygons {
    display: table-cell; 
}

.separator {
    display: table-row;
    height: 30px;
}

polygon.inner {
    fill: #202e42;
    opacity: 0.7;
}

polygon.outer {
    fill: none;
    stroke: #b52025;
    stroke-width: 1px;
}

polygon.inner.selected {
    fill: #202e42;
}

polygon.outer.selected {
    fill: #b52025;
    opacity: 0.6;
}

.player.average polygon.inner {
    fill: #1c3667;
    opacity: 0.8;
}

.player.average polygon.outer {
    fill: #b52025;
    stroke: #000;
    stroke-width: 1px;
    opacity: 0.5;
}

.separator {
    width: 100%;
    margin-top: 20px;
}
