@import url(http://fonts.googleapis.com/css?family=Signika:400,600,700,300);

body {
    width: 1400px;
    margin: 0 auto;
}

.header {
    margin-left: 200px;
    width: 910px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-family: 'Signika', 'sans-serif';
    font-size: 20px;
    font-weight: 400;
}

.header .filter {
    display: inline;
}

.filter .title {
    display: inline;
}

.filter .menu {
    display: inline;
    margin-left: 5px;
}

.header .nav {
    display: inline;
    float: right;
}

.nav .sub-nav {
    display: inline;
    margin-left: 30px;
}

.nav .sub-nav:hover {
    cursor: pointer;
    text-decoration: underline;
}

.main {
    margin-left: 200px;
    margin-top: 30px;
    width: 1000px;
}

.example {
    width: 150px;
    height: 100px;
    float: left;
    display: inline;
    position: relative;
    margin: 7px;
}

.example svg {
    margin-left: 10px;
}

.player {
    width: 70px;
    height: 100px;
    float: left;
    display: inline;
    position: relative;
    margin: 7px;
}

.example text {
    font-family: 'Signika', 'sans-serif';
    font-weight: 400;
    font-size: 10px;
}

.name {
    border-top: 1px solid black;
    text-align: center;
    font-family: 'Signika', 'sans-serif';
    font-weight: 400;
    font-size: 12px;
}

.position {
    display: table-row;
    font-family: 'Signika', 'sans-serif';
    font-weight: 400px;
    font-size: 14px;
}

.position .title {
    display: table-cell;
    vertical-align: middle;
    border-right: 1px solid black;
}

.position .polygons {
    display: table-cell; 
}

polygon.inner {
    fill: #202020;
    opacity: 0.8;
}

polygon.outer {
    fill: #C0C0C0;
    stroke: #000;
    stroke-width: 1px;
    opacity: 0.5;
}
